{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "pgvector.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pgvector.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  podSelector:
    matchLabels:
      {{- include "pgvector.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: 5432
          protocol: TCP
      {{- with .Values.networkPolicy.ingressRules }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
{{- end }}
